body {
    background-color: #06b;
}

.styled-table {
    border-collapse: collapse;
    margin: 0px auto 0px auto;
    font-size: 0.9em;
    font-family: sans-serif;
    width: 900px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.styled-table thead tr {
    background-color: #009879;
    color: #ffffff;
    text-align: left;
}

.styled-table th,
.styled-table td {
    padding: 12px 15px;
    text-align: center;
}

.styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
}

.styled-table tbody tr.active-row {
    font-weight: bold;
    color: #009879;
}

/* css for form */
.form {
    background-color: #f3f3f3;
    border-radius: 20px;
    box-sizing: border-box;
    height: 200px;
    width: 700px;
    margin: 20px auto;
    text-align: center;
    
}
#downloadexcel{

margin: 10px 0px 0px 295px;
width: 200px;
}
#downloadpdf{
    width: 200px;
    margin: 10px 0px 0px 285px;
  
    
}
.row1{
    
    margin-left: -146px !important;
}

.title {
    color:#009879 ;
    font-family: sans-serif;
    font-size: 36px;
    font-weight: 600;
    margin-top: 30px;
}

.subtitle {
    color: #009879;
    font-family: sans-serif;
    font-size: 16px;
    font-weight: 600;
    margin-top: 10px;
}

.input-container {
    height: 40px;
    position: relative;
    width: 20px;
   margin: 0px 0px 0px 150px;
}

.ic1 {
    margin-top: 40px;
    display: inline-block;
}

.ic2 {
    margin-top: 40px;
}
.input {
    background-color: #ffffff;
    border-radius: 12px;
    border: 0;
    box-sizing: border-box;
    color: #eee;
    font-size: 18px;
    height: 100%;
    outline: 0;
    color: #000;
    padding: 4px 20px 0;
    width: 150px;

}

.cut {
    background-color: #15172b;
    border-radius: 10px;
    height: 20px;
    left: 20px;
    position: absolute;
    top: -20px;
    transform: translateY(0);
    transition: transform 200ms;
    width: 76px;
    color: grey;
    padding-bottom: 25px;
}

.cut-short {
    width: 120px;
}

.input:focus~.cut,
.input:not(:placeholder-shown)~.cut {
    transform: translateY(8px);
}

.placeholder {
    color: #65657b;
    font-family: sans-serif;
    left: 20px;
    line-height: 14px;
    pointer-events: none;
    position: absolute;
    transform-origin: 0 50%;
    transition: transform 200ms, color 200ms;
    top: 20px;
}

.input:focus~.placeholder,
.input:not(:placeholder-shown)~.placeholder {
    transform: translateY(-30px) translateX(10px) scale(0.75);
}

.input:not(:placeholder-shown)~.placeholder {
    color: #808097;
}

.input:focus~.placeholder {
    color: #dc2f55;
}

.submit {
    background-color: #009879;
    border-radius: 12px;
    border: 0;
    box-sizing: border-box;
    color: #eee;
    cursor: pointer;
    font-size: 18px;
    height: 38px;
    margin: 41px 0px 0px 160px;
    z-index: 1;
    outline: 0;
    text-align: center;
    width: 150px;
}

.submit:active {
    background-color: #06b;
}

/* css for search */
.search {
    height: 40px;
    margin: 80px auto 0px auto;
    width: 900px;
    background-color: #009879;
    /* margin-bottom: 10px; */
}

.inp {
    width: 100px;
    margin-top: 6px;
    margin-left: 5px;
    /* border-radius: 15px; */
    outline: none;
    border: none;
    text-align: center;
}
table thead tr th{
    text-align: center;
}
#myInput0 {
    width: 35px;
    margin-left: 0px;
}

#myInput1 {
    width: 42px;
    margin-left: 0px;
}

#myInput2 {
    width: 60px;
    margin-left: 0px;
}

#myInput3 {
    width: 245px;
    margin-left: 0px;
}

#myInput4 {
    width: 60px;
    margin-left: 0px;
}

#myInput5 {
    width: 95px;
    margin-left: 0px;
}

#myInput6 {
    width: 51px;
    margin-left: 0px;
}

/* css for loader */
* {
    margin: 0;
    padding: 0;
}

.loader {
    display: none;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
}

.loading {
    border: 2px solid #ccc;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border-top-color: #1ecd97;
    border-left-color: #1ecd97;
    animation: spin 1s infinite ease-in;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

/* code for spinner */
.overlay {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 999;
    background: rgba(255, 255, 255, 0.8) url("/examples/images/loader.gif") center no-repeat;
}

/* Turn off scrollbar when body element has the loading class */
body.loading {
    overflow: hidden;
}

/* Make spinner image visible when body element has the loading class */
body.loading .overlay {
    display: block;
}
/* spinner....... */
#spinner:not([hidden]) {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  #spinner::after {
    content: "";
    width: 80px;
    height: 80px;
    border: 2px solid #f3f3f3;
    border-top: 3px solid #1ecd97;
    border-radius: 100%;
    will-change: transform;
    animation: spin 1s infinite linear
  }
  
  @keyframes spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }

  @media screen and (min-width: 480px) {
    body {
      background-color: lightgreen;
    }

  }